<div id="participant">
  <%= form_with(model: participant, local: true) do |form| %>
    <%= form.hidden_field :language_choice %>
    <p>Thank you for agreeing to take part in our experiment.</p>
    <p>We'd first like to collect some information about you</p>
    
    <div class="field row">
      <div class="six columns text-right">
        <label>How long have you been programming?</label></div>
      <div class="six columns">
        <%= form.select :years_programming, Experiment.years_programming_options , {}, :class=>'u-full-width'%>
      </div>
    </div>

    <div class="field row">
      <div class="six columns text-right">
        <label>What is the main language you work in?</label>
      </div>
      <div class="six columns">
        <%= form.text_field :main_language , :class=>'u-full-width'%>
      </div>
    </div>
<%#    
    <div class="field row">
      <div class="six columns text-right">
        <label>Can we contact you for further information?</label>
      </div>
      <div class="option-buttons contact-options six columns">
        <% yes_no_options.each do |id, name| %#>
          <span class="option">
            <%= form.radio_button :can_contact, id %#>
            <%= form.label :can_contact, name, value: id, :class=>'button' %#>
          </span>
        <% end %#>
      </div>
    </div>

    <div id="contact">
      <div class="row">
        <div class="six columns text-right">please enter your contact information</div>
        <div class="six columns"></div>
      </div>
      <div class="row field">
        <div class="six columns text-right">
          <%= form.label :name %#>
        </div>
        <div class="six columns">
          <%= form.text_field :name , :class=>'u-full-width'%#>
        </div>
      </div>
      <div class="row field">
        <div class="six columns text-right">
          <%= form.label :contact, 'Contact info' %#>
          
        </div>
        <div class="six columns">
          <%= form.text_field :contact , :class=>'u-full-width'%#>
          <p class="text-right"><em>Email address, twitter handle etc.</em></p>
        </div>
      </div>
    </div>
    %>
    <p />
    <div class="actions text-right">
      <%= form.submit 'Participate', :class=>'button-primary' %>
    </div>
  <% end %>
</div>