<p id="notice"><%= notice %></p>

<p>
  <strong>Contact:</strong>
  <%= @participant.contact %>
</p>

<p>
  <strong>Main language:</strong>
  <%= @participant.main_language %>
</p>

<p>
  <strong>Years programming:</strong>
  <%= @participant.years_programming %>
</p>

<p>
  <strong>Language choice:</strong>
  <%= @participant.language_choice %>
</p>

<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
