<p>
  <%= link_to 'Home', admin_root_path, :class=>'btn' %>
  <%= link_to 'Participants', admin_participants_path, :class=>'btn' %>
  <%= link_to 'Responses', admin_responses_path, :class=>'btn btn-primary' %>
</p>

<h1>Responses</h1>

<table class="table">
  <thead>
    <tr>
      <th>Participant</th>
      <th>Date</th>
      <th>Index</th>
      <th>Test case</th>
      <th>Exercise id</th>
      <th>Pattern</th>
      <th>Responded ms</th>
      <th>Given answer</th>
    </tr>
  </thead>

  <tbody>
    <% @responses.each do |response| %>
      <tr class="<%= 'greyed-out' if response.given_answer.blank? %>">
        <td><%= link_to response.participant_id, admin_participant_url(response.participant) %></td>
        <td><%= response.updated_at.strftime('%d/%m/%Y %H:%M') %></td>
        <td><%= response.index %></td>
        <td><%= response.test_case %></td>
        <td><%= response.exercise_id %></td>
        <td><%= response.pattern %></td>
        <td><%= response.responded_ms %></td>
        <td><%= response.given_answer %> <% if response.correct? %>&#10003;<% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @responses %>

