<p>
  <%= link_to 'Participants', admin_participants_path, :class=>'btn' %>
  <%= link_to 'Responses', admin_responses_path, :class=>'btn btn-primary' %>
  <%= link_to 'Randomisations', admin_randomisations_path, :class=>'btn' %>
</p>

<h1>Responses</h1>

<table class="table">
  <thead>
    <tr>
      <th>Participant</th>
      <th>Date</th>
      <th>Index</th>
      <th>Test case</th>
      <th>Example</th>
      <th>Responded ms</th>
      <th>Given answer</th>
      <th>Readable score</th>
      <th>Comments</th>
    </tr>
  </thead>

  <tbody>
    <% @responses.each do |response| %>
      <tr>
        <td><%= link_to response.participant_id, [:admin, response.participant] %></td>
        <td><%= response.updated_at.strftime('%d/%m/%Y %H:%M') %></td>
        <td><%= response.index %></td>
        <td><%= response.test_case %></td>
        <td><%= response.example %></td>
        <td><%= response.responded_ms %></td>
        <td><%= response.given_answer %> <% if response.correct? %>&#10003;<% end %></td>
        <td><%= response.readable_score %></td>
        <td><%= response.comments %></td>
      </tr>
    <% end %>
  </tbody>
</table>

