<p>
  <%= link_to 'Participants', admin_participants_path, :class=>'button' %>
  <%= link_to 'Responses', admin_responses_path, :class=>'button button-primary' %>
</p>

<h1>Responses</h1>

<table>
  <thead>
    <tr>
      <th>Participant</th>
      <th>Test case</th>
      <th>Example</th>
      <th>Responded ms</th>
      <th>Given answer</th>
      <th>Readable score</th>
      <th>Comments</th>
    </tr>
  </thead>

  <tbody>
    <% @responses.each do |response| %>
      <tr>
        <td><%= link_to response.participant_id, [:admin, response.participant] %></td>
        <td><%= response.test_case %></td>
        <td><%= response.example %></td>
        <td><%= response.responded_ms %></td>
        <td><%= response.given_answer %></td>
        <td><%= response.readable_score %></td>
        <td><%= response.comments %></td>
      </tr>
    <% end %>
  </tbody>
</table>

