<div id="response">
  
    <div class="question">
      <%= render 'test_case' %>
      <button class="go">I'm ready to answer</button>
    </div>

    <div class="answer-form">
      <button class="back">I want to see the code again</button>
      <%= form_with(model: [participant, response], local: true) do |form| %>
      
        <div class="field">
          <%= form.hidden_field :responded_ms %>
        </div>

        <div class="field">
          <%= form.label :given_answer, 'Your answer:' %>
          <div class="option-buttons answer-options">
            <% @response.answer_options.each do |id, name| %>
              <span class="option">
                <%= form.radio_button :given_answer, id %>
                <%= form.label :given_answer, name, value: id, :class=>'button' %>
              </span>
            <% end %>
          </div>
        </div>

        <div class="field">
          <%= form.label :readable_score, 'How readable did you find this code?' %>
          <ul class="lickert">
            <li>Horrid</li>
            <% 0.upto(4).each do |score| %>
              <li><label><%= form.radio_button :readable_score, score %></label></li>
            <% end %>
            <li>Lovely</li>
          </ul>
        </div>

        <div class="field">
          <%= form.label :comments, 'Any comments?' %>
          <%= form.text_area :comments %>
        </div>

        <div class="actions">
          <%= form.submit 'next', :class=>'button-primary' %>
        </div>
        <% end %>
    </div>
  
</div>