<div id="response">
  
    <div class="question">
      <%= render 'test_case' %>
      <button class="go u-pull-right">I'm ready to answer</button>
    </div>

    <div class="answer-form">
      
      <%= form_with(model: [participant, response], local: true) do |form| %>
      
        <div class="field">
          <%= form.hidden_field :responded_ms %>
        </div>

        <div class="field">
          <%= form.label :given_answer, 'Your answer:' %>
          <div class="option-buttons answer-options">
            <% @response.answer_options.each do |id, name| %>
              <span class="option">
                <%= form.radio_button :given_answer, id %>
                <%= form.label :given_answer, name, value: id, :class=>'button' %>
              </span>
            <% end %>
          </div>
        </div>

        <div class="field">
          <%= form.label :readable_score, 'How readable did you find this code?' %>
          <div class="option-buttons">
          
            <ul class="lickert">
              <li>Horrid</li>
              <% Experiment.lickert.each do |id, name| %>
                <li>
                  <span class="option">
                    <%= form.radio_button :readable_score, id %>
                    <%= form.label :readable_score, name.html_safe, value: id, :class=>'button' %>
                  </span>
                </li>
              <% end %>
              <li>Lovely</li>
            </ul>
          </div>
        </div>

        <div class="field">
          <%= form.label :comments, 'Any comments?' %>
          <%= form.text_area :comments, :class=>'u-full-width' %>
        </div>

        <div class="actions">
          <button class="back">I want to see the code again</button>
          <%= form.submit 'next', :class=>'button-primary' %>
        </div>
        <% end %>
    </div>
  
</div>