<div id="response">
  
    <div class="question">
      <%= render 'test_case' %>
      <div class="actions">
        <%= link_to "I don't know", skip_participant_response_path(@participant, @response), :class=>'button back' %>
        <button class="go u-pull-right">I'm ready to answer</button>
      </div>
    </div>

    <div class="answer-form">
      
      <%= form_with(model: [participant, response], local: true) do |form| %>
      
        <div class="field">
          <%= form.hidden_field :responded_ms %>
        </div>

        <div class="field">
          <%= form.label :given_answer, 'Your answer:' %>
          <div class="option-buttons answer-options">
            <% @response.answer_options.shuffle.each do |id, name| %>
              <span class="option">
                <%= form.radio_button :given_answer, id %>
                <%= form.label :given_answer, name, value: id, :class=>'button' %>
              </span>
            <% end %>
          </div>
        </div>

        <div class="actions">
          <%#<button class="back">I want to see the code again</button> %>
          <%= link_to "I don't know", skip_participant_response_path(@participant, @response), :class=>'button back' %>
          <%= form.submit 'next', :class=>'button-primary' %>
        </div>
        <% end %>
    </div>
  
</div>