<p id="notice"><%= notice %></p>

<h1>Responses</h1>

<table>
  <thead>
    <tr>
      <th>Participant</th>
      <th>Test case</th>
      <th>Example</th>
      <th>Responded ms</th>
      <th>Given answer</th>
      <th>Readable score</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @responses.each do |response| %>
      <tr>
        <td><%= response.participant_id %></td>
        <td><%= response.test_case %></td>
        <td><%= response.example %></td>
        <td><%= response.responded_ms %></td>
        <td><%= response.given_answer %></td>
        <td><%= response.readable_score %></td>
        <td><%= response.comments %></td>
        <td><%= link_to 'Show', response %></td>
        <td><%= link_to 'Edit', edit_response_path(response) %></td>
        <td><%= link_to 'Destroy', response, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Response', new_response_path %>
