<p id="notice"><%= notice %></p>

<p>
  <strong>Test case:</strong>
  <%= @response.test_case %>
</p>

<p>
  <strong>Example:</strong>
  <%= @response.example %>
</p>


<p>
  <strong>Responded ms:</strong>
  <%= @response.responded_ms %>
</p>

<p>
  <strong>Given answer:</strong>
  <%= @response.given_answer %>
</p>

<p>
  <strong>Readable score:</strong>
  <%= @response.readable_score %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @response.comments %>
</p>

<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'Back', responses_path %>
