<p>
  <%= link_to 'Participants', admin_participants_path, :class=>'button button-primary' %>
  <%= link_to 'Responses', admin_responses_path, :class=>'button' %>
</p>

<p id="notice"><%= notice %></p>

<h1>Participants</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Can contact</th>
      <th>Name</th>
      <th>Contact</th>
      <th>Main language</th>
      <th>Years programming</th>
      <th>Language</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @participants.each do |participant| %>
      <tr>
        <td><%= participant.id %></td>
        <td><%= participant.can_contact? ? 'Y' : '' %></td>
        <td><%= participant.name %></td>
        <td><%= participant.contact %></td>
        <td><%= participant.main_language %></td>
        <td><%= participant.years_programming %></td>
        <td><%= participant.language_choice %></td>
        <td><%= link_to 'Show', [:admin, participant] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
