<p id="notice"><%= notice %></p>

<h1>Participants</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>IP</th>
      <th>Date</th>
      <th>Main language</th>
      <th>Years programming</th>
      <th>Test cases</th>
      <th>Filled in responses</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @participants.each do |participant| %>
      <tr class="<%= 'greyed-out' if participant.num_filled_responses < 1 %>">
        <td><%= participant.id %></td>
        <td><%= participant.ip %></td>
        <td><%= participant.created_at.strftime('%d/%m/%Y %H:%M') %></td>
        <td><%= participant.main_language %></td>
        <td><%= participant.years_programming %></td>
        <td><%= participant.participant_test_cases.count %></td>
        <td><%= participant.num_filled_responses %></td>
        <td><%= link_to 'Show', [:admin, participant] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @participants %>
