<h1>Participant - <%= @participant.id %></h1>


<ul class="list-inline">
  <li><strong>ID:</strong> <span class="text-info"><%= @participant.id %></span></li>
  <li><strong>Created:</strong> <span class="text-info"><%= @participant.created_at.to_s(:short) %></span></li>
  <li><strong>Agent:</strong> <span class="text-info"><%= @participant.agent %></span></li>
  <li><strong>IP:</strong> <span class="text-info"><%= @participant.ip %></span></li>
  <li><strong>Client dimensions:</strong> <span class="text-info"><%= @participant.client_dimensions %></span></li>
</ul>
<ul class="list-inline">  
  <li><strong>Main language:</strong> <span class="text-info"><%= @participant.main_language %></span></li>
  <li><strong>Years programming:</strong> <span class="text-info"><%= @participant.years_programming %></span></li>
  <li><strong>Language choice:</strong> <span class="text-info"><%= @participant.language_choice %></span></li>
</ul>


<table class="table">
  <thead>
    <tr>
      <th>Test case</th>
      <th>Exercise</th>
      <th>Pattern</th>
      <th>Responded ms</th>
      <th>Given answer</th>
    </tr>
  </thead>

  <tbody>
    <% @participant.responses.each do |response| %>
      <tr>
        <td><%= response.test_case %></td>
        <td><%= response.exercise_id %></td>
        <td><%= response.pattern %></td>
        <td><%= response.responded_ms %></td>
        <td><%= response.given_answer %> <% if response.correct? %>&#10003;<% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p class="align-right"><%= link_to 'Delete', [:admin,@participant], method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-danger' %></p>