<p>
  <%= link_to 'Home', admin_root_path, :class=>'btn btn-primary' %>
  <%= link_to 'Participants', admin_participants_path, :class=>'btn' %>
  <%= link_to 'Responses', admin_responses_path, :class=>'btn' %>
  <%= link_to 'Randomisations', admin_randomisations_path, :class=>'btn' %>
</p>
<%= link_to 'Responses CSV', admin_data_download_url('responses'), :class=>'btn btn-info pull-right' %>
<h1>Stats</h1>
<div class="panel panel-default">
  <div class="panel-heading">
    Participants
  </div>
  <div class="panel-body">
    <ul class="list-inline">
      <% @stats.participants.each do |k, v| %>
        <li><%= k %>: <span class="text-info"><%= v %></span></li>
      <% end %>
    </ul>
  </div>
</div>

<% @stats.test_cases.each do |k, tc| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= k %>
    </div>
    <div class="panel-body">
      <% tc.each do |k, example| %>
        <h4><%= k %></h4>
        <% example.each do |lang, stat| %>
          <ul class="list-inline <%= lang==:overall ? 'text-danger' : 'text-muted' %>">
              <li><strong><%= lang %></strong></li>
              <li>Total: <span class="text-info"><%= stat[:total] %></span></li>
              <li>Ave Time (s): <span class="text-info"><%= stat[:average_ms]/1000.0 %></span></li>
              <li>Percentage correct: <span class="text-info"><%= stat[:percent_correct] %></span></li>
              <li>Average readable: <span class="text-info"><%= stat[:average_readable] %></span></li>
          </ul>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
