<ul class="pull-right list-inline">
<li><%= link_to 'Responses CSV', admin_data_download_url('responses'), :class=>'btn btn-info pull-right' %></li>
<li><%= link_to 'Participants CSV', admin_data_download_url('participants'), :class=>'btn btn-warning pull-right' %></li>
</ul>
<h1>Stats</h1>
<div class="panel panel-default">
  <div class="panel-heading">
    Participants
  </div>
  <div class="panel-body">
    <ul class="list-inline">
      <% @stats.participants.each do |k, v| %>
        <li><%= k %>: <span class="text-info"><%= v %></span></li>
      <% end %>
    </ul>
  </div>
</div>

<% @stats.test_cases.each do |k, tc| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= k %>
    </div>
    <div class="panel-body">
      <p>Total Participants:  <span class="text-info"><%= tc[:participants] %></span></p>
      <% tc[:patterns].each do |k, example| %>
        <h4><%= k %></h4>
        <% example.each do |lang, stat| %>
          <ul class="list-inline <%= lang==:overall ? 'text-danger' : 'text-muted' %>">
              <li><strong><%= lang %></strong></li>
              <li>Total: <span class="text-info"><%= stat[:total] %></span></li>
              <li>Ave Time (s): <span class="text-info"><%= "%.2f" % (stat[:average_ms]/1000.0) %></span></li>
              <li>Percentage correct: <span class="text-info"><%= "%.1f" %stat[:percent_correct] %></span></li>
          </ul>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
