<p>
	<%= link_to 'Home', admin_root_path, :class=>'btn' %>
  <%= link_to 'Participants', admin_participants_path, :class=>'btn' %>
  <%= link_to 'Responses', admin_responses_path, :class=>'btn' %>
  <%= link_to 'Randomisations', admin_randomisations_path, :class=>'btn btn-primary' %>
</p>
<h1>Randomisation sequences</h2>
<% @sequences.each do |sequence| %>
<% stats = sequence.stats %>
<div class="panel panel-default">
	<div class="panel-heading">
		<ul class="list-inline">
			<li>Test case: <span class="text-info"><%= sequence.test_case %></span></li>
			<li>Language: <span class="text-info"><%= sequence.language %></span></li>
			<li><%= link_to admin_randomisation_url(sequence), :class=>'btn btn-default' do %>Details<% end %></li>
		</ul>
		<ul class="list-inline">
			<li>Number of entries: <span class="label label-info"><%= stats[:total] %></span></li>
			<li>Number of assigned: <span class="label label-success"><%= stats[:assigned] %></span></li>
			<% stats[:examples].each do |k, v| %>
				<li>
					<%= v[:name] %>: 
					<span class="text-info">total</span> <span class="label label-info"><%= v[:total] %></span>,
					<span class="text-success">assigned:</span> <span class="label label-success"><%= v[:assigned] %></span>
				</li>
			<% end %>
		<ul>
	</div>
	<div class="panel-body">
		<div class="random_sequence_scroll">
			<ul class="list-inline">
				<% stats[:blocks].each do |block| %>
					<li><span class="greyed-out"><%= block.first.block_index %></span>: [<% block.each_with_index do |entry, index| %>
						<%= ',' if index > 0 %>
						<%= entry.index %>: 
						<span class="label label-<%= entry.assigned_to.blank?  ? 'info' : 'danger' %>">
							<%= entry.value.upcase %>
						</span>
					<% end%>]</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
<% end %>