<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>How readable - code readability testing</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5bb103e5752ef70011efcfa3&product='inline-share-buttons' async='async'></script>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
