<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>How readable - ADMIN</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'admin/application', media: 'all' %>
    <%= javascript_include_tag 'admin/application' %>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5bb103e5752ef70011efcfa3&product='inline-share-buttons' async='async'></script>
  </head>
  <body>
    <div class="container <%= container_class %>">
      <%= render 'layouts/nav' %>
      <%= yield %>
    </div>
  </body>
</html>
